<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
</head>
<body>
<div class="form">
<form>
   <h2 class= header>ATLAS Searched</h2>
    <button type="submit" formaction="http://localhost:3000/login">Log In</button>
    <button type="submit" formaction="http://localhost:3000/search">Search</button>
    <button type="submit" formaction="http://localhost:3000/signup">Sign Up</button>
    <button onclick="Logout()" type="submit" formaction="http://localhost:3000/logout">Logout</button>
</form>
    </div>
</body>
<script>
    function Logout() {
        alert("You've been Logged out!")
        req.session.destroy()
    }
</script>
</html>