<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/css/search.css" />
  </head>
  <body>
    <div class ="form">
    <form method="POST" action="/search">
      <h2 class="header">ATLAS Searched</h2>
     <input class="search" type="search" name="search" placeholder="search" required />
      <select class="db" id="db" name="select">
        <option value="postgres">Postgres</option>
        <option value="mongo">MongoDb</option>
      </select>
      <button class="submit" type="submit">Search</button>
     <p class="homepage">Click <a href="http://localhost:3000/">Here</a> to go Home! </p>
    </form>
    </div>
  </body>
</html>
